<ion-view style="" title="Meeting timer">
    <ion-content class="has-header" padding="false">
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Members</span>
                <select name="meetingMembers"
                        ng-change="setMembers(memberList)"
                        ng-model="memberList"
                        ng-options="member as member.label for member in meetingMembers"
                        ng-disabled="timerIsRunning">
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Duration</span>
                <select name="meetingDuration"
                        ng-change="setDurationTime(durationList)"
                        ng-model="durationList"
                        ng-options="duration as duration.label for duration in durations"
                        ng-disabled="timerIsRunning">
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Daily rate</span>
                <input  type="text"
                        ng-model="dailyRate"
                        ng-change="setDailyRate(dailyRate)"
                        ng-disabled="timerIsRunning">
            </label>
        </form>
        <div style="width: 320px; height: 20px;" class="spacer"></div>
        <div class="row">
            <div class="col myCenter">
                <h3>Cost per minute: {{costsPerMinute}} €</h3>
                <h3>Estimated costs: {{estimatedCosts}} €</h3>
                <mytimer id="myTimerElement">
                    <p style="font-size: 300%; padding:50px 0 40px 0;">{{hours}}:{{minutes}}:{{seconds}}</p>
                    <div style="font-size:300%;padding:0; line-height: 1.2">
                        Current cost: <br>
                        {{meetingCosts}} €
                    </div>
                </mytimer>
            </div>
        </div>
    </ion-content>
</ion-view>
<div class="bar bar-footer" style="margin:0; padding:0;">
  <button class="button button-calm bar-fullsize" ng-click="startStopTimer()">
    <span ng-show="timerIsRunning == true">Stop Timer</span>
    <span ng-hide="timerIsRunning == true">Start Timer</span>
  </button>
</div>
